.main-content {
    margin-left: 23%;
    margin-top: 7vh;
}
@media only screen and (max-width: 768px) {
    .main-content {
        margin-left: 20px;
        margin-top: 7vh;
    }
}
@media only screen and (min-width:1599px) {
    .main-content {
        margin-left: 16%;
        margin-top: 7vh;
    }
}


/* Faculty Dashboard css */
.fcard{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background-color: #b6f4e7;
}

.faculty-info .fcard{
    margin: 10px 9% 10px 9%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background-color: #59f0d0;
}


/* add question Dashboard css */

.cld{
    margin-top: 120px;
}
.formDiv{
   margin: 50px;
   margin-top: 20px;
}


.formDiv label{
    margin-left: 140px;
    font-size: 20px;
    padding: 4px;
    background: rgb(78, 226, 219);
    width: 140px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    border: none!important;



}


.addquestion select{
    background: rgb(78, 226, 219);
    font-size: 20px;
    width: 110px;
    border: none!important;
    border-radius: 5px;
    font-weight: 600;


}

/* plo */
.addplo select{
    font-size: 20px;
    padding: 5px;
    font-weight: 600;
    width: 150px;
    border-radius: 7px;
    text-align: center;
    border: none!important;
    margin-left: 30px;
    background-color: aquamarine;
}

.submitdiv label{
    margin-left: 310px;
    margin-top: 50px;
    font-size: 20px;
    padding: 4px;
    background: rgb(78, 226, 219);
    width: 140px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    border: none!important;
}




/* addgrade */
.addgrade label{
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    border: none!important;
    margin-left: 30px;
    margin-right: 9px;
    background-color: aquamarine;

}

.grade{
    margin-top: 80px;


}


.addgrade input{
    margin-left: 10px;
}

.addgrade select{
    margin-left: 10px;
    border: none!important;
}

.mybtn{
    margin-left: 370px;
    padding: 0 20px 0 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: none!important;
    border-radius: 5px;
    padding: 15px;
    font-size: 25px;
    font-weight: 600;
    width: 250px!important;
    text-align: center;
}



